<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> BehaviorSubject vs Subject </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      I am a BehaviorSubject and my initial value is
      <strong>{{ myBehaviosSubject$ | async }}</strong>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      I am a regular Subject and my initial value is
      <strong>{{ myRegularSubject$ | async }}</strong>
    </ion-label>
  </ion-item>

  <ion-button
    expand="block"
    fill="outline"
    (click)="triggerSubject('behaviorSubject')"
    >Trigger BehaviorSubject next value</ion-button
  >

  <ion-button expand="block" fill="outline" (click)="triggerSubject('subject')"
    >Trigger regular Subject next value</ion-button
  >
</ion-content>
